# module 1
jupyter>=1.0
notebook>=7.0
ipykernel>=6.0
nltk>=3.9.0
scikit-learn>=1.3
gensim>=4.4.0
numpy>=1.24
pandas>=2.0
tensorflow>=2.16.0
matplotlib>=3.7

# module 2
spacy==3.8.16
seaborn>=0.13

# module 3
transformers==5.17.0
torch==2.11.0
torchvision==0.26.0
torchaudio==2.11.0

# Base Framework
langchain==1.4.2
langchain-core>=1.4.9
langchain-community>=0.3.0
langchain-text-splitters
langchain-classic

sentence-transformers
datasets==2.21.0

